@tailwind base;
@tailwind components;
@tailwind utilities;

.react-multiple-carousel__arrow--left  {
  left: 10px !important;
  /* background-color: transparent !important; */
  color: invert;
  
}
.react-multiple-carousel__arrow--right  {
  right: 10px !important;
  
}

